Hello, {{ name }},

Your password has been reset successfully.

--------------------------------------------------------------------------------------------------------------------
Here's your system generated UID: {{ uid }}
--------------------------------------------------------------------------------------------------------------------
Here's your new password: {{ password }}
--------------------------------------------------------------------------------------------------------------------

Sincerely,
The Developer