Hello, {{ name }},

Thank you for registering with us.

Your Password : {{ password }}

Please send the below provided "UID" and "OTP" as a request to activate your account.

--------------------------------------------------------------------------------------------------------------
Here's your system generated UID: {{ uid }}
--------------------------------------------------------------------------------------------------------------
Here's your system generated OTP: {{ otp }}
--------------------------------------------------------------------------------------------------------------

Note: The OTP will be valid only for 10 minutes.

Sincerely,
The Developer